html,body {
    height:100%;
    font-family:Open Sans,Arial, Helvetica, sans-serif;
}
/* Cтили для демонстрации */
/* .wrapper {

} */
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
.content {
    width:100%;
    height:100%;
    margin-top:60px;
    /* background-color:#edead1; */
    background-color: white;

}
.container {
    max-width: 1180px;
    margin:0px auto;
    padding:0px  10px;
}
.container2 {
    width:100%;
    height:600px; 
    /* max-width: 1180px; */
    margin:0px auto;
    padding:0px  10px;
    background-color: #ffffff;
    /* background-color: white; */
}

/* Основные стили */
.header {
    position: fixed;
    width:100%;
    top:0;
    left:0;
    z-index: 50;
}

.header:before {
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: #1ca517;
    z-index: 2;
}
.header__body {
    position: relative;
    display:flex;
    justify-content: space-between;
    height:80px;
    align-items: center;
}
.header__logo {
    flex:0 0 60px;
  
    overflow: hidden;
        position: relative;
        z-index: 3;
}


.header__logo img  {
    max-width: 100%;
    display:block

}
.header__burger {
    display:none;
}


.header__list {
    display:flex;
   position: relative;
   z-index:2;
}
.header__list li{
    list-style: none;
    margin: 0px 0px 0px 20px;

}

.header__link{
    color:#fff;
    text-transform: uppercase;
    font-size:18px;
    text-decoration: none;
}


.header__link:hover{
    color:yellow;

}

.content__text{

    font-size:18px;
    line-height:25px;
}

.content__text p {
   margin:0px 0px 20px 0px;

}




 @media (max-width:767px) {
    .header__body {
      height:50px;
    }

    .header__logo {
        flex:0 0 40px;
    }
     .header__burger {
         display:block;
         position: relative;
         width:30px;
         height:20px;
         z-index:3;
     }
     .header__burger span {
          position: absolute;
          background-color: #fff;
          width: 100%;
          height:2px;
          left:0;
          top:9px;
          transition: all 0.3s ease 0s;

     }
     .header__burger:before,
     .header__burger:after
     {
         content: ' ';
         background-color: #fff;
         position: absolute;
         width:100%;
         height:2px;
         left:0;
          transition: all 0.3s ease 0s;
     }
     .header__burger:before {
         top:0;
     }
     .header__burger:after {
         bottom:0;
     }

     .header__burger.active span {
       transform:scale(0);
     }

     .header__burger.active:before {
        transform:rotate(45deg);
        top:9px;
     }

     .header__burger.active:after {
        transform:rotate(-45deg);
        bottom:9px;
     }
     .header__menu {
         position: fixed;
         top:-100%;
         left:0;
         width:100%;
         height:100%;
         overflow:auto;
        background-color: #18b5a4;
        padding:70px 10px 20px 10px;
        transition: all 0.3s ease 0s;
     }
     .header__menu.active {
       top:0;
     }
     .header__list {
         display:block;
     }
     .header__list li {
       margin:0px 0px 20px 0px;
    }
    .header__link {
        font-size:24px;
    }
    .content {
        padding:70px 0px 0px 0px;
    }

    body.lock{
        overflow: hidden;
    }
} 


.container2 > p:first-child {
    border-top:1px solid rgb(139, 185, 117);
    margin-bottom:2.5em;
    padding-top:1.5em;
    font-size:30px;
    font-weight: bold;
    text-align: center;
  color:red;
}

/* #block-for-slider {
  width:100%;
  height:100%;
  background-color: #1ca517;
    margin: 0 auto;
    margin-top: 100px;
}

#viewport {
    width: 100%;
    display:table;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#slidewrapper {
    position: relative;
    width: calc(100% * 5);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1.5s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

#slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

#slidewrapper li {
    width:calc(100%/5);
    list-style: none;
    display: block;
    float: left;
}

.slide-img {
    justify-content: center;
    margin:10px 10px 10px 35%;
   width:500px;
   height:374px;
}

#prev-btn, #next-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    top: calc(50% - 25px);
}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    left: 20px;
}

#next-btn {
    right: 20px;
}

#nav-btns {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    margin: 3px;
}

.slide-nav-btn:hover {
    cursor: pointer;
}









@media (max-width:767px) { 
  
    #block-for-slider {
        display: flex;
        width:100%;
        height:100%;
        background-color: #1ca517;
          margin: 0 auto;
          margin-top: 100px;
      }
      
      #viewport {
          width: 100%;
          display: table;
          position: relative;
          overflow: hidden;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          -o-user-select: none;
          user-select: none;
      }
      
      #slidewrapper {
          position: relative;
          width: calc(100% * 5);
          top: 0;
          left: 0;
          margin: 0;
          padding: 0;
          -webkit-transition: 1s;
          -o-transition: 1s;
          transition: 1.5s;
          -webkit-transition-timing-function: ease-in-out;
          -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
      }
      
      #slidewrapper ul, #slidewrapper li {
          margin: 0;
          padding: 0;
      }
      
      #slidewrapper li {
          width:calc(100%/5);
          list-style: none;
          display:flex;
          justify-content: center;
      }
          
      
      .slide-img {
         
         margin:0;
         width:500px;
         height:374px;
      }
      
      #prev-btn, #next-btn {
          position: absolute;
          width: 50px;
          height: 50px;
          background-color: black;
          border-radius: 50%;
          top: calc(50% - 25px);
      }
      
      #prev-btn:hover, #next-btn:hover {
          cursor: pointer;
      }
      
      #prev-btn {
          left: 20px;


      }
      
      #next-btn {
          right: 20px;
   
      }
      
      #nav-btns {
          position: absolute;
          width: 100%;
          bottom: 20px;
          padding: 0;
          margin: 0;
          text-align: center;
      }
      
      .slide-nav-btn {
          position: relative;
          display: inline-block;
          list-style: none;
          width: 20px;
          height: 20px;
          background-color: black;
          border-radius: 50%;
          margin: 3px;
      }

      .slide-nav-btn:hover {
          border:2px solid red;
      }
      
      .slide-nav-btn:hover {
          cursor: pointer;
      }
      
      
      
      

} */
.man-collection {

    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
     width: 100%;
     height:850px;
    background-color: #ffffff;
    /* background-attachment: fixed;
    background-image:url(../img/15.png);
    background-size: cover; */

}


.girl-collection {
    /* width:100%;
    display:flex;
    flex-direction: column; */
    display: flex;
    width: 100%;
    height: 350px;
    flex-direction:row;
    flex-wrap: wrap;
    /* justify-content:space-around; */
    /* width:80%;
    height:900px; */
    
     /* flex-flow:  column nowrap; */
    /* padding: 2em;
    width: 91%; */
    background-color: #ffffff;
    /* background-attachment: fixed;
    background-image:url(../img/15.png);
    background-size: cover; */

}
.footer_all {

        display: flex;
        height:300px;

        background-color: #202020;
        color: #fff;

 } 

 .panel {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-contacts {

    flex-direction: column;
    justify-content: center;
}

#contacts {
    font-size: 2em;
    margin-bottom: 1em;
}
/* 
.panel li {
    font-size:20px;
   margin-right:550px;
} */

#send {
    font-size: 2em;
    margin-bottom:1em;
}

.cool {
    font-size:20px;
    margin-bottom:0.5em;
}

.cool2 {
    margin-bottom:1em;
}

.panel-contacts p {
    font-size: 1.5em;
    margin-bottom: .5em;
}
 .Send {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .panel-send {

    flex-direction: column;
    justify-content: center;
}

.bigblock {

    width:100%;
   height:100%;
background-color: rgb(255, 255, 255);
display:flex;
flex-wrap:wrap;




}

.true_item {
    background-color:rgb(255, 255, 255);
display:flex;
flex-direction: column;
    width:33%;
}
 

/* .va{
    padding-top:20%;
    display:flex;
    flex-direction: row;
    width:100%;
    height:180px;
    align-items: center;
    justify-content: center;


 
background-color: rgb(153, 231, 129);




} */

.title-sport {
    display:Flex;
/* margin-top:100%; */
margin:auto;
padding-top:1%;
    justify-content: center;
    align-items: center;
    padding-top:1%;
    width:100%;
    height:100px;

    background-color: #d1d1d1;
    
}

.title-sport h2 {
    font-family: Lora;
    font-size:30px;
}

/* .title-sport h2 {
    text-decoration: underline   ;
} */


  /* justify-content: space-between; */

.description_true_item h2 {
    color:rgb(81, 146, 81);
}
.true_item:nth-child(40) {
   margin-bottom:10%;
}

.img_true_item {
    margin-top:10%;
    margin-left:10%; 
/* 
    width:80%;  */
}

.img_true_item img{
    display: block;
    width:500px;
    height:374px;
}

.img_true_item :hover {
    transform: scale(1.3)
}

.description_true_item {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
   /* padding-left:10%; */
    /* text-align: left; */
    /* font-size:50px;
    text-align: center; */

}

select {
    border:1px solid black;
}
 
/* .new-string {
    width: 100%;
  } */
/* .man-main-pictures {
/* justify-content: center;
align-items: center; */



.man-title {
    display:flex;
    width:100%;
    height:80px;
    align-items: center;
    justify-content: center;


     /* margin-bottom: 2em;  */

    /* justify-content: space-between;
    align-items: center; */
/*   
     position: relative; */

    background-color:#1ca517;
/* z-index:40; */

}

/* .man-title h2 {
    font-size:

} */


.girl-title {
    display: flex;
    width:100%;
    height:80px;
    align-items: center;
    justify-content: center;
    background-color:#ad6c86;
    /* background-image: url(../img/girl-main/back123.jpg); */




     /* margin-bottom: 2em;  */

    /* justify-content: space-between;
    align-items: center; */
/*   
     position: relative; */

   
/* z-index:40; */

}
/* .vasya {
    background-color: #2a6628;
}  */
/* .item_two  {
    display:flex;
    flex-direction: row;
} */

/* .item_man:first-child {
    padding-left:2%;
}
.item_man:nth-child(2) {
    margin-left:10%;
}

.item_man:nth-child(3) {
    margin-left:10%;
} */
.item_man {

    display:flex;
    flex-direction: column;
    align-items: center;
    width:33%;
}

.item_man:last-child {

    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin-bottom:5%;
}

.text_man {
    font-size:20px;
    font-family:Lora;
}

.item_girl {
 
    display:flex;
    flex-direction: column;
    align-items: center;
    width:33%;
    
}

.item_man img {  
     padding-top:10px;
    width:310px;
    height:240px;
}

.item_girl img {
 
    padding-top:10px;
    width:310px;
    height:240px;
}


.item_girl:last-child img {
    margin-top:2.5em;
    width:150px;
    height:180px;
}

.item_girl:last-child p {
   margin-top:1em;
}

/* .item_girl:last-child img {
    padding-top:10px;
    width:290px;
    height:140px;
}

.item_girl:last child {
    padding-top:100px;
} */



/* .item-girl:last-child img {
    padding-top:10px;
    width:110px;
    height:240px;
} */



/* ---------------- */
.containerback_slideshow  p {
    text-decoration: none;
    text-align: center;
    font-size:40px;
    font-weight: bold;
    margin:5px;
    color:red;
    font-family: Enyo Slab Regular;

}



.containerback_slideshow {
padding:10px;
width:100%;
    background-color: #d9f4bf;
}
/* Slideshow container */
.slideshow-container {
    height:35%;
    max-width: 1100;
    position: relative;
    margin: auto;
  }

  .copyright-footer {
    background-color: #111111;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    padding: 1em;
}


  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  .mySlidesimba {
    display: none;
  }

  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    background-color: #edebd3;
    color:rgb(93, 90, 90);
    font-weight: bold;
    font-size: 10px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: red;
    font-size: 15px;
    padding: 10px 5px ;
    position: absolute;
    bottom: 45px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }


   .dotimba {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dotimba:hover {
    background-color: #717171;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .containerback_slideshow {
      display:flex;
      
      
  }
   .slideshow-container img {
  
       width:100%;
   }

  

.Rosteg {
    position: relative;
text-align: center;

}

/* .check1 {
    display: none;
} */

/* #div1{
    display: none;
  } */

.spoiler-title {
    width:100px;
    margin-left:25%;
}

.offer {
    font-size:25px;
    font-family:Lora;
    text-align: center;

}
.offer ul li {
    margin-left:1em;
    list-style: none;
    margin-bottom: 3em;
}
.offer ul li:first-child {
    margin-top: 1em;
}



h2 {
    text-align: center;
}

/* 
DESKTOP */
  
@media (min-width:767px) { 
    /* .slideshow-container {
       position: relative;
      
        
       
    } */
    /* .mySlides  img {

           width:500px;
   
          
         
      } */
    /* .containerback_slideshow {

        padding:10px;
         width:100%;
         height:300px;
         background-color: #d9f4bf;
     } */

    
     .containerback_slideshow img  {

        width:auto;
        
     }
     .text {
        color: rgb(30, 117, 3);
        /* font-family:Caveat; */
        font-family:arial;
        font-size: 25px;
        font-weight:bold;
    
        padding: 10px 5px ;
        position: absolute;
        left:28%;
        bottom: 70px;
        width: 100%;
        text-align: center;
      }


      .text2 {
        color: rgb(30, 117, 3);
        /* font-family:Caveat; */
        font-family:arial;
        font-size: 25px;
        font-weight:bold;
    
        padding: 10px 5px ;
        position: absolute;
        right:32%;
        bottom: 70px;
        width: 100%;
        text-align: center;
      }

    .cheater2 img {
        margin-left:205px;
    }


    .cheater_desktop {

        display:none;
    }
    .dot {
        cursor: pointer;
        height: 20px;
        width: 20px;
        margin: 0 2px;
        background-color: #7dc07b;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }


      .dotimba {
        cursor: pointer;
        height: 20px;
        width: 20px;
        margin: 0 2px;
        background-color: #7dc07b;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }

      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 60%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        background-color: #73f5a4;
        color:rgb(27, 121, 58);
        font-weight: bold;
        font-size: 40px;
        text-align: center;
        transition: 0.6s ease;
        border-radius: 10%;
        user-select: none;

      }

      .prev {     
       right:105%;
       width:90px;
       height:90px;
    }
    
    .numbertext {
        display:none;

    }   
    .next {
        left:105%;
        width:90px;
        height:90px;
    }
    .prev:hover, .next:hover {
        background-color: #42bd71;

      }
      

      .topsale {
          display:none;
      }

      .topsale_desktop {

          padding-top:2%;
         text-align:center
      }

      .topsale_desktop img  {
        width:15%

    }
    .active, .dot:hover {
        background-color: #2a6628;
        
      }

      .active, .dotimba:hover {
        background-color: #2a6628;
        
      }

/* 
  .spoiler-body {
      list-style:none;
  } */
      
}


/* MOBILE!!! */

@media (max-width:767px) { 
   .containerback_slideshow {
     padding:0;

   }
   .content {

 
    padding:50px 0px 0px 0px;
       margin:0;
   }

   .containerback_slideshow  p {
     font-size:25px;
 }



   .slideshow-container img {
       padding:10px 10px 10px 10px;
   }


     .prev, .next {
        outline: none;
        text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    background-color: #73f5a4;
    color:rgb(93, 90, 90);
    font-weight: bold;
    font-size: 0px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
    opacity: 20%;
    border:1px solid #d8f6d7
    
  }

  .prev {     
      margin-left :15px;
      width:44px;
      height:44px;
  }

  .next {
    margin-right :15px;
    width:44px;
    height:44px;
  }


  .prev:hover, .next:hover {
    background-color: #73f5a4;
    opacity:30%;
  }
  
  .prev:active,next:active {
      opacity:100%;
  }


  .text {
    color: rgb(30, 117, 3);
    /* font-family:Caveat; */
    font-family:arial;
    font-size: 20px;
    font-weight:bold;

    padding: 10px 5px ;
    position: absolute;
    bottom: 70px;
    width: 100%;
    text-align: center;
  }

  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin-bottom:20px;
    background-color: #7dc07b;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }


  .dotimba {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin-bottom:20px;
    background-color: #7dc07b;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  

  .active, .dotimba:hover {
    background-color: #2a6628;
    
  }

  .active, .dot:hover {
    background-color: #2a6628;
    
  }


   .topsale { 
       z-index: 1;
     

       position: absolute;
       

   }
   .topsale img {
  
       width:30%;
   }

   .topsale_desktop {
       display:none;
   }

     /* Number text (1/3 etc) */
     .numbertext {
        /* color: #f2f2f2; */
        color:red;
        font-size: 12px;
        /* padding: 8px 12px; */
        position: absolute;
      margin:3% 0px 0px 80%;
        
        top: 0;
      } 

      .cheater {
          display:none;
      }

      .cheater2 {
          display: none;
      }

      .item_man {
          width:50%;
      }

      .item_man img {
        width:100px;
        height:100px;
    }
    .man-collection {
        width:100%;

    }

    .girl-collection {
        width:100%;
    }

      .item_girl {
 

        width:50%;
    }

    .item_girl img {
        width:100px;
        height:100px;
    }

    .contacts {
        font-size:5px;
    }

    /* .man-title {
        width:100%;
        height:600px;
    } */

    .container2 > p:first-child {
        border-top:1px solid rgb(139, 185, 117);
        margin-bottom:2.5em;
        padding-top:1.5em;
        font-size:15px;
        font-weight: bold;
        text-align: center;
      color:red;
    }

    .offer {
        font-size:18px;
        font-family:Lora;
        text-align: center;
    
    }
    .offer ul li {
        margin-left:1em;
        list-style: none;
        margin-bottom: 3em;
    }
    .offer ul li:first-child {
        margin-top: 1em;
    }

    #contacts {
        font-size: 1em;
        margin-bottom: 1em;
    }

    
    #send {
       
        font-size: 1em;
        margin-bottom:1em;
    }
    
    .cool {

        font-size:10px;
        margin-bottom: .5em;
        margin-right:1.5em;
        text-align: center;
    }
    
    .cool2 {
        font-size:10px;
    }
    
 
    
    .panel-contacts p {
        font-size: 0.8em;
        margin-bottom: .5em;
    }
    .copyright-footer {
        background-color: #111111;
        color: #fff;
        font-size: 0.8em;
        text-align: center;
        padding: 1em;
    }

    .item_girl:last-child {

        display:flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        margin-bottom:5%;
    }

    .true_item {
        flex-direction: column;
        width:100%;
        height:35%;
        max-width: 1100;
        padding-bottom:10px;
    }

    /* .title-sport {
        width:100%;
    } */

    /* .img_true_item {

            height:35%;
            max-width: 1100;
            position: relative;
            margin: auto;
        
  
    } */
    .img_true_item img{
display: block;
max-width: 100%;
height: auto;
padding-bottom:10px;

    }

    .description_true_item h2  {
        width:80%;
        border-top:1px solid black;
    }

    select {
        border:1px solid black;
    }

    .title-sport h2 {
        font-size:20px;
    }

    .title-sport {
        height:50px;
    }


    .item_girl:last-child img {
        margin-top:2.5em;
        width:100px;
        height:100px;
    }
    
    .item_girl:last-child p {
       margin-top:1em;
    }
}




